* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Ubuntu;
  font-size: 16; }

window#waybar {
  color: #dcd7ba;
  background: transparent; }

#custom-launcher {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 26;
  background: #1f1f28; }

#r-launcher {
  border-left: 15 solid #1f1f28;
  border-bottom: 35 solid transparent;
  margin-right: -15;
  background: transparent;
  min-height: 0px; }

#l-workspaces {
  border-left: 15 solid transparent;
  border-bottom: 35 solid #2A2A33;
  margin-right: 0;
  background: transparent;
  min-height: 0px; }

#workspaces {
  padding: 0 10px;
  background: #2A2A33; }

#r-workspaces {
  border-left: 15 solid #2A2A33;
  border-bottom: 35 solid transparent;
  margin-right: -15;
  background: transparent;
  min-height: 0px; }

#l-system-info {
  border-left: 15 solid transparent;
  border-bottom: 35 solid #2A2A33;
  margin-right: 0;
  background: transparent;
  min-height: 0px; }

#system-info {
  padding: 0 10px;
  background: #2A2A33; }

#r-system-info {
  border-left: 15 solid #2A2A33;
  border-bottom: 35 solid transparent;
  margin-right: -15;
  background: transparent;
  min-height: 0px; }

#l-tray {
  border-left: 15 solid transparent;
  border-bottom: 35 solid #1f1f28;
  margin-right: 0;
  background: transparent;
  min-height: 0px; }

#tray {
  background: #1f1f28; }

#r-tray {
  border-left: 15 solid #1f1f28;
  border-bottom: 35 solid transparent;
  margin-right: -15;
  background: transparent;
  min-height: 0px; }

#l-powermenu {
  border-left: 15 solid transparent;
  border-bottom: 35 solid #2A2A33;
  margin-right: 0;
  background: transparent;
  min-height: 0px; }

#custom-powermenu {
  background: #2A2A33;
  padding-left: 15px;
  padding-right: 15px;
  color: #dcd7ba; }

#workspaces button {
  padding: 0 10px;
  color: #dcd7ba;
  margin: 0.3em 0;
  border-radius: 2px; }
  #workspaces button:hover {
    background: rgba(158, 206, 106, 0.2); }

#workspaces button.active {
  background-color: rgba(158, 206, 106, 0.5); }

#workspaces button.urgent {
  background-color: #eb4d4b; }

#clock,
#network,
#pulseaudio,
#wireplumber,
#tray {
  padding: 0 10px;
  color: #dcd7ba; }

#tray > .passive {
  -gtk-icon-effect: dim; }

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b; }
