* {
  all: unset; }

window.bar {
  background-color: rgba(0, 0, 0, 0);
  color: #d4be98;
  font-size: 20px;
  font-family: "Ubuntu Nerd Font";
  font-weight: 400; }
  window.bar .bar_content {
    background-color: transparent;
    color: #d4be98;
    padding: 0px; }

.separator {
  color: rgba(212, 190, 152, 0.5); }

.workspaces button {
  background-color: transparent;
  border-style: none;
  padding: 0 15px 0 15px; }
  .workspaces button.focused {
    box-shadow: 0px -2px #a9b665 inset;
    color: #a9b665; }
  .workspaces button:hover {
    box-shadow: 0px -2px #a9b665 inset;
    color: #a9b665; }

.systray button {
  background-color: transparent;
  border-style: none; }

.notification {
  color: yellow; }

tooltip {
  background-color: #45403d;
  padding: 5px 20px 5px 20px;
  color: #d4be98;
  font-size: 18px;
  font-family: "Ubuntu Nerd Font";
  font-weight: normal;
  border-radius: 5px; }
  tooltip label {
    padding: 5px 20px 5px 20px; }

.widgets_container {
  padding: 5px 20px 5px 20px;
  background-color: #32302f; }

.widgets_container_left {
  border-radius: 0 20px 0 0; }

.widgets_container_right {
  border-radius: 20px 0 0 0; }

.smaller-icon {
  font-size: 19px; }

.clock .time {
  font-size: 16px;
  margin-bottom: -2px; }

.clock .date {
  margin-top: -2px;
  font-size: 13px; }

.exit-screen {
  background-color: #32302f;
  color: #d4be98;
  border: 6px solid #282828;
  border-radius: 25px; }
  .exit-screen .content {
    padding: 24px; }
  .exit-screen .left_part,
  .exit-screen .right_part {
    min-width: 180px; }
  .exit-screen .right_part .close_button {
    font-size: 54px;
    transition-duration: 200ms;
    transition-property: background-color;
    border-radius: 50%;
    background-color: rgba(40, 40, 40, 0.5); }
    .exit-screen .right_part .close_button:hover {
      background-color: rgba(169, 182, 101, 0.5); }
  .exit-screen .right_part .shortcuts {
    font-size: 16px;
    color: rgba(212, 190, 152, 0.5);
    background-color: rgba(40, 40, 40, 0.5);
    padding: 25px;
    border-radius: 25px; }
  .exit-screen .header {
    font-size: 86px; }
  .exit-screen .uptime {
    font-size: 24px; }
  .exit-screen .power_button {
    font-size: 32px;
    background-color: rgba(169, 182, 101, 0.2);
    min-width: 164px;
    min-height: 164px;
    border-radius: 25px;
    padding: 12px;
    transition-property: background-color;
    transition-duration: 200ms; }
    .exit-screen .power_button .power_button_icon {
      font-size: 86px; }
    .exit-screen .power_button:hover {
      background-color: rgba(169, 182, 101, 0.5); }
