$bg_color: #32302f;
$bg_color_tooltip: #45403d;
$fg_color: #d4be98;
$fg_selected_color: #a9b665;
$selected_color: rgba(#a9b665, 0.5);
$selected_color_alpha: rgba(#a9b665, 0.3);
$border_radius: 22px;

* {
  all: unset;
}

window.bar {
  background-color: rgba(0, 0, 0, 0);
  color: $fg_color;
  font-size: 20px;
  font-family: "Ubuntu Nerd Font";
  font-weight: 400;
  .bar_content {
    background-color: transparent;
    color: $fg_color;
    padding: 0px;
    // box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
  }
}

.separator {
  color: rgba($fg_color, 0.5);
}

.workspaces {
  button {
    background-color: transparent;
    border-style: none;
    padding: 0 15px 0 15px;

    &.focused {
      box-shadow: 0px -2px $fg_selected_color inset;
      color: $fg_selected_color;
    }

    &:hover {
      box-shadow: 0px -2px $fg_selected_color inset;
      color: $fg_selected_color;
    }
  }
}

.systray {
  button {
    background-color: transparent;
    border-style: none;
    // margin: 0 0px 0 20px;
  }
}

.client-title {
  color: $selected_color;
}

.notification {
  color: yellow;
}

tooltip {
  background-color: $bg_color_tooltip;
  padding: 5px 20px 5px 20px;
  color: $fg_color;
  font-size: 18px;
  font-family: "Ubuntu Nerd Font";
  // font-weight: normal;
  border-radius: 5px;
  label {
    padding: 5px 20px 5px 20px;
  }
}

.widgets_container {
  padding: 5px 20px 5px 20px;
  background-color: $bg_color;
}

.widgets_container_left {
  border-radius: 0 20px 0 0;
}

.widgets_container_right {
  border-radius: 20px 0 0 0;
}

.powerbutton {
  font-size: 18px;
}

.clock {
  .time {
    font-size: 16px;
    margin-bottom: -2px;
  }
  .date {
    margin-top: -2px;
    font-size: 13px;
  }
}
