$bg_0: #282828;
$bg_color: #32302f;
$bg_color_tooltip: #45403d;
$fg_color: #d4be98;
$fg_selected_color: #a9b665;
$selected_color: rgba(#a9b665, 0.5);
$selected_color_alpha: rgba(#a9b665, 0.3);
$border_radius: 22px;
$accent: #a9b665;

* {
  all: unset;
}

window.bar {
  background-color: rgba(0, 0, 0, 0);
  color: $fg_color;
  font-size: 20px;
  font-family: "Ubuntu Nerd Font";
  font-weight: 400;
  .bar_content {
    background-color: transparent;
    color: $fg_color;
    padding: 0px;
    // box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
  }
}

.separator {
  color: rgba($fg_color, 0.5);
}

.workspaces {
  button {
    background-color: transparent;
    border-style: none;
    padding: 0 15px 0 15px;

    &.focused {
      box-shadow: 0px -2px $fg_selected_color inset;
      color: $fg_selected_color;
    }

    &:hover {
      box-shadow: 0px -2px $fg_selected_color inset;
      color: $fg_selected_color;
    }
  }
}

.systray {
  button {
    background-color: transparent;
    border-style: none;
    // margin: 0 0px 0 20px;
  }
}

.notification {
  color: yellow;
}

tooltip {
  background-color: $bg_color_tooltip;
  padding: 5px 20px 5px 20px;
  color: $fg_color;
  font-size: 18px;
  font-family: "Ubuntu Nerd Font";
  font-weight: normal;
  border-radius: 5px;
  label {
    padding: 5px 20px 5px 20px;
  }
}

.widgets_container {
  padding: 5px 20px 5px 20px;
  background-color: $bg_color;
}

.widgets_container_left {
  border-radius: 0 20px 0 0;
}

.widgets_container_right {
  border-radius: 20px 0 0 0;
}

.smaller-icon {
  font-size: 19px;
}

.clock {
  .time {
    font-size: 16px;
    margin-bottom: -2px;
  }
  .date {
    margin-top: -2px;
    font-size: 13px;
  }
}

.exit-screen {
  background-color: $bg_color;
  color: $fg_color;
  border: 6px solid $bg_0;
  border-radius: 25px;

  .content {
    padding: 24px;
  }

  .left_part,
  .right_part {
    min-width: 180px;
  }

  .right_part {
    .close_button {
      font-size: 54px;
      transition-duration: 200ms;
      transition-property: background-color;
      border-radius: 50%;
      background-color: rgba($bg_0, 0.5);
      &:hover {
        background-color: rgba($accent, 0.5);
      }
    }
    .shortcuts {
      font-size: 16px;
      color: rgba($fg_color, 0.5);
      background-color: rgba($bg_0, 0.5);
      padding: 25px;
      border-radius: 25px;
    }
  }
  .header {
    font-size: 86px;
  }
  .uptime {
    font-size: 24px;
  }
  .power_button {
    font-size: 32px;
    background-color: rgba($accent, 0.2);
    min-width: 164px;
    min-height: 164px;
    border-radius: 25px;
    padding: 12px;
    transition-property: background-color;
    transition-duration: 200ms;
    .power_button_icon {
      font-size: 86px;
    }

    &:hover {
      background-color: rgba($accent, 0.5);
    }
  }
}

window.notification-popups box.notifications {
  padding: 0.5em;
}

.notification-popups {
  .icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;

    image {
      font-size: 58px;
      /* to center the icon */
      margin: 5px;
      color: $fg_color;
    }

    box {
      min-width: 68px;
      min-height: 68px;
      border-radius: 7px;
    }
  }

  .notification {
    min-width: 350px;
    border-radius: $border_radius;
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #a9b665;
    background-color: $bg_color;
  }

  .notification.critical {
    border: 1px solid lightcoral;
  }

  .title {
    color: $fg_color;
    font-size: 1.4em;
  }

  .body {
    color: $fg_color;
  }

  .actions {
    color: $fg_color;
    .action-button {
      margin: 0 0.4em;
      margin-top: 0.8em;
    }

    .action-button:first-child {
      margin-left: 0;
    }

    .action-button:last-child {
      margin-right: 0;
    }
  }
}
