* {
  all: unset; }

window.bar {
  background-color: rgba(0, 0, 0, 0);
  color: #d4be98;
  font-size: 20px;
  font-family: "Ubuntu Nerd Font";
  font-weight: 400; }
  window.bar .bar_content {
    background-color: transparent;
    color: #d4be98;
    padding: 0px; }

.separator {
  color: rgba(212, 190, 152, 0.5); }

.workspaces button {
  background-color: transparent;
  border-style: none;
  padding: 0 15px 0 15px; }
  .workspaces button.focused {
    box-shadow: 0px -2px #a9b665 inset;
    color: #a9b665; }
  .workspaces button:hover {
    box-shadow: 0px -2px #a9b665 inset;
    color: #a9b665; }

.systray button {
  background-color: transparent;
  border-style: none; }

.client-title {
  color: rgba(169, 182, 101, 0.5); }

.notification {
  color: yellow; }

tooltip {
  background-color: #45403d;
  padding: 5px 20px 5px 20px;
  color: #d4be98;
  font-size: 18px;
  font-family: "Ubuntu Nerd Font";
  font-weight: normal;
  border-radius: 5px; }
  tooltip label {
    padding: 5px 20px 5px 20px; }

.widgets_container {
  padding: 5px 20px 5px 20px;
  background-color: #32302f; }

.widgets_container_left {
  border-radius: 0 20px 0 0; }

.widgets_container_right {
  border-radius: 20px 0 0 0; }

.smaller-icon {
  font-size: 19px; }

.clock .time {
  font-size: 16px;
  margin-bottom: -2px; }

.clock .date {
  margin-top: -2px;
  font-size: 13px; }
